<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Stores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <style>
        #map {
            height: 500px;
            width: 1000px;
        }
    </style>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: x-large; margin-bottom: 20px">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images\logo\DSCF8200.jpg" alt="" width="50" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/allStores">Stores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/allProducts">Products</a>
                    </li>
                </ul>
            </div>
            <div class="float-end">
                <a class="nav-link" href="/cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-cart2"
                         viewBox="0 0 16 16">
                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                    </svg>
                    <span class="badge bg-secondary" th:text="${cartItemsCount}"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="row row align-items-end">
        <div class="row">
            <div class="card" th:each="shop : ${shops}"
                 style="text-align: center; margin-bottom: 20px; width: 18rem">
                <img src="images\logo\DSCF8200.jpg" class="card-img-top" alt="productImage" style="object-fit: fill">
                <div class="card-body">
                    <h5 class="card-title" th:text="'Name: ' + ${shop.name}"></h5>
                    <p class="card-text" th:text="'Shop location: ' + ${shop.address} +', ' + ${shop.city}"></p>
                </div>
                <div class="card-footer">
                    <!--                    <a th:href="@{/store/(id=${product.id})}" class="btn btn-primary">Buy in this store</a>-->
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>
    <th:block th:each="shop : ${shops}">
        <div class="marker" th:data-lat="${shop.latitude}" th:data-lng="${shop.longitude}"></div>
    </th:block>


    <script th:inline="javascript">

        var shopPin = [[${shopPin}]];

        var map = L.map('map').setView([51.919438, 19.145136, "Poland"], 6); //zoom level od 1 do 30 tu jest 13

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' //autorzy podani!!
        }).addTo(map);


        L.marker([52.237049, 21.017532]).addTo(map) //marker to ta pinezka
            .bindPopup("Warsaw")
            .openPopup();


        L.marker([50.0614, 19.9383]).addTo(map) //marker to ta pinezka
            .bindPopup("Krakow")
            .openPopup();

        L.marker([50.0614, 19.9463]).addTo(map) //marker to ta pinezka
            .bindPopup("Krakow")
            .openPopup();

        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }

        map.on('click', onMapClick);
    </script>
</div>

</body>
</html>